body {
	background-color: white;
}

.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
}

/*

Typography(Module 3)
affects the styling of text

*/

h1, h2{
	padding: 10px;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	font-weight: bold;
	color: #747474;
}

/*
Layout
These rules will affect the position of the element they are on
*/

nav{
	margin-top: 48px;
	background-color: #ddd;
}

header, main{
	height: 480px;
	margin-top: 24px;
	background-color: #ddd;
}

main {
	height: 800px;
}

footer{
	height: 150px;
	margin: 24px 0 48px 0;
	background-color: #ddd;
}

section {
	margin: 30px;
	border: 2px solid black;
	height: 200px;
	background-color:white;
	/*960 = 30 + 2 + 0 + content + 0 + 2 + 30*/
	/*960 - 64 = content*/
	/*content = 896*/
	width: 896px;
}